*{
    margin: 2px;;
    padding:2px;
    box-sizing:border-box;
}
body{
    font-family:'sans-serif';
    background-color: aliceblue;
}
.dashboard-container{
    display:flex;
    flex-direction: column;
    height: 100vh;
}
.dashboard-header{
    background-color: rgb(15, 169, 189);
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 30px;

}
.dashboard-body{
    display: flex;
    flex: 1;
}
.sidebar{
    width: 15%;
    background-color: rgb(248, 255, 205);
}
.Menu{
    border: 6px solid rgb(128, 128, 128);
    border-radius: 6px;
    position:static;
    width: 180px;
    margin: 10px;
    line-height: 6;
    padding: 40px;
}
.sidebar ul li {
    padding: 15px 0;
    list-style-type:none;
    text-align: center;
    
}
.main-content{
    width: 80%;
    padding: 5%;
}

.box-grid{
    background-color: rgb(0, 255, 149);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: first baseline;
    grid-gap: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.box{
    background-color:rgb(131, 87, 136);
    padding: 40px;
    border-radius: 8px;

}
.footer{
    display: flex;
    justify-content: space-between;
}
.graph{
    width: 60%;
    background-color: #ddd6d6;
    padding: 50px;
    text-align: center;
    border-radius: 8px;
    height: 80%;
    
}
.list-section {
    width: 35%;
}

.list-section ul {
    list-style-type: none;
}

.list-section ul li {
    padding: 10px 0;
    background-color: #bed1a1;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 8px;
}
.graph img{
    width: 60%;
    height: 60%;
}
